* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #bec0b0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  overflow: hidden;
}

.background-circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.6;
  z-index: 0;
}

.blue {
  width: 300px;
  height: 300px;
  background: #2196f3;
  top: -50px;
  left: -50px;
}

.orange {
  width: 300px;
  height: 300px;
  background: #ff5722;
  bottom: -50px;
  right: -50px;
}

.login-box {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 40px;
  width: 350px;
  z-index: 1;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  color: #fff;
  text-align: left;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}

.login-box label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 15px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 6px;
  background-color: #2f2f3d;
  color: white;
  font-size: 15px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #fff;
  color: #c59a9a;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background-color: #e0e0e0;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.google-btn, .facebook-btn {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #df8b8b;
  color: white;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition: background 0.3s ease;
}

.google-btn:hover {
  background-color: #db4437;
  color: black;
}

.facebook-btn:hover {
  background-color: #3b5998;
}
